/*Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Lorrayne Annyelly
DATA:26/03/2023*/

/* Estilos Logo */
#logo{
    height: 50px;
    border-radius: 5%;
    margin-right: 20px;
    }

/* Estilos cor de fundo */
body {
        font-size: 100%;
        background: linear-gradient(68.15deg, #00000a 16.62%, #1a294f 85.61%);
    }

/* Cor da fonte*/
 body{
    color: white !important;
    align-items: center;
 }

h1 {
    text-align: center;
    color: white;
}

/*Estilizando formulário*/
form {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-bottom: 2px;
    color: #333;
}

#pesq{
    padding: 0;
    margin: 0;
}

.formu input[type="date"], input[type="time"], select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #555;
}

/*Estilizando botão cadastrar*/
#botao[type="submit"] {
    background-color: #0d6efd;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
}

#botao [type="submit"]:hover {
    background-color: #555;

}


